main {
  height: 100vh;
  background-image: url('https://eststatic.com/4643/conversions/frases-antigua-roma-social.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
