<mat-nav-list>
  <!-- /dashboard -> /dashboard/home -->
  <button mat-stroked-button color="warn" class="rotate" ><a routerLink="home" mat-list-item><mat-icon>account_balance</mat-icon></a></button>
  <button mat-stroked-button color="warn" class="rotate"><a routerLink="users" mat-list-item><mat-icon>account_circle</mat-icon></a></button>
  <button mat-stroked-button color=""><a  mat-list-item><mat-icon>currency_exchange</mat-icon></a></button>
  <button mat-stroked-button color="warn"><a (click)="logout()" mat-list-item><mat-icon>keyboard_return</mat-icon></a></button>
  
</mat-nav-list>
